<div class="contact-header">
  <div class="header-title1">
    <p class="header-title2">C O N T A C T</p>
    <p class="header-title3">お問い合わせ</p>
  </div>
</div>

<div class="center">
  <P class="headtext">
    お問い合わせ、採用応募の方は下記フォーマットに必要事項入力の上ご送信下さい。<br><br>
    電話でのご対応も承ってますのでお気軽にお問い合わせ下さい<br><br>
    電話番号：06-7182-2493(平日10:00-18:00)<br>
  </P>

<%= form_with model:@contact, url: contact_path do |f| %>
  <div>
  	<%= f.select :genre, [["採用に関するお問い合わせ・応募", "採用に関するお問い合わせ・応募"], ["その他お問い合わせ", "その他お問い合わせ"]], :prompt => "お問い合わせ種別を選択" %>
  </div><br>
  <div>
  	<%= f.text_field :name, placeholder: "氏名" %>
  </div><br>
  <div>
  	<%= f.text_field :address, placeholder: "メールアドレス" %>
  </div><br>
  <div>
  	<%= f.text_area :body, placeholder: "お問い合わせ内容" %>
  </div>

<div class="btn btn-primary">送信する</div>

<% end %>

</div><br>