<div class="recruit-header">
  <div class="header-title1">
    <p class="header-title2">R E C R U I T</p>
    <p class="header-title3">採用情報</p>
  </div>
</div>

<div class="center">
  <P class="headtext">
    弊社では一緒に活躍してくれる仲間を募集しています。<br><br>
    営業の経験を積みたい方、新規事業開拓に興味のある方、お気軽にお問い合わせください。<br><br>
    応募の場合は、お電話、または<%= link_to "お問い合わせページ", contact_path %>よりご応募ください。
  </P>
  <P class="headtext2">
    弊社では一緒に活躍してくれる仲間を募集しています。<br><br>
    営業の経験を積みたい方、新規事業開拓に興味のある方、<br>
    お気軽にお問い合わせください。<br><br>
    応募の場合はお電話、または<br>
    <%= link_to "お問い合わせページ", contact_path %>よりご応募ください。
  </P>
</div><br>


<div class="container"><hr>
    <div class="center">
      <h4>募集要項<span>(<%= Date.current.strftime('%Y年%m月%d日')%>現在)</span></h4>
    </div><br><br>
      <% if @recruitments.each do |recruitment| %>
        <h4><%= simple_format(recruitment.genre) %></h4><br>
          <table class="table table-striped">
            <tr>
              <th class="col-xs-3">業務内容</th>
              <td><%= simple_format(recruitment.body) %></td>
            </tr>
            <tr>
              <th>就業時間</th>
              <td><%= simple_format(recruitment.time) %></td>
            </tr>
            <tr>
              <th>給与</th>
              <td><%= simple_format(recruitment.salary) %></td>
            </tr>
            <tr>
              <th>歓迎</th>
              <td><%= simple_format(recruitment.welcome) %></td>
            </tr>
            <tr>
              <th>備考</th>
              <td><%= simple_format(recruitment.etc) %></td>
            </tr>
          </table><br>
      <% end.empty? %>
        <div class="center"><h4>現在応募は行っていません。</h4></div><br>
      <% end %>
  <hr><br>
</div>