<div class="top">
  <div class="hope">
    <p class="hope-sub">Create People who give Hope</p>
  </div>
</div>

<div class="container">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <div class="top-text">
      <div class="center">
	    <p class="top-text-title">希望を配る人を輩出する。</p><hr>
        <div class="top-text-text">
          <p>リーダーとは“希望を配る人”。<br><br>
          	それは素晴らしい熱量を共有する。謙虚だが自信に溢れ、妥協がない。<br><br>
          	常に最善をつくす、そして結果をだす。<br><br>
            何事にも感謝をする、苦難に負けず乗り越えていける。<br><br>
            人情に熱く思いやりがある。<br><br>
            様々な“希望を配る人”を輩出し、世の中に貢献できる人、会社でありたい。<br><br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="business">
  <%= link_to business_path(anchor: 'mobile'), class: "Editlink2" do %>
    <div class="mobile">
      <p class="business-name">通信商材販売営業</p>
    </div>
  <% end %>
  <%= link_to business_path(anchor: 'event'), class: "Editlink2" do %>
  	<div class="event">
      <p class="business-name">イベントプロモーション</p>
    </div>
  <% end %>
  <%= link_to business_path(anchor: 'youtube'), class: "Editlink2" do %>
    <div class="youtube">
      <p class="business-name">Youtubeチャンネル運営</p>
    </div>
  <% end %>
  <%= link_to business_path(anchor: 'drone'), class: "Editlink2" do %>
    <div class="drone">
      <p class="business-name">ドローン空撮</p>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <div class="news">
  	  <p class="news-title">News</p><br>
  	    <div class="news-body">
  	    <table class="table">
        <% @newss.each do |news| %>
        <tr>
          <th class="col-xs-2"><p></p><%= news.created_at.strftime('%Y年%m月%d日')%></th>
          <td class="col-xs-10"><p></p><%= simple_format(news.body) %><p></p></td>
        </tr>
        <% end %>
        </table>
        <div class="center"><%= paginate @newss %></div>
        </div><br>
    </div>
  </div>
</div>