<div class="top">
  <div class="hope">
    <p class="hope-sub">Create People who give Hope</p>
    <p class="hope-title">希望を配る人を輩出する</p>
  </div>
</div>

<div class="container">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8">
    <div class="top-text">
      <div class="center">
	    <p class="top-text-title">希望を配る人を輩出する。</p><hr>
        <div class="top-text-text">
          <p>リーダーとは“希望を配る人”。<br><br>
          	それは素晴らしい熱量を共有する。謙虚だが自信に溢れ、妥協がない。<br><br>
          	常に最善をつくす、そして結果をだす。<br><br>
            何事にも感謝をする、苦難に負けず乗り越えていける。<br><br>
            人情に熱く思いやりがある。<br><br>
            様々な“希望を配る人”を輩出し、世の中に貢献できる人、会社でありたい。<br><br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="business">
  <%= link_to business_path, class: "Editlink2" do %>
    <div class="mobile">
      <p class="business-name">通信商材販売営業</p>
    </div>
  <% end %>
  <%= link_to business_path, class: "Editlink2" do %>
  	<div class="event">
      <p class="business-name">イベントプロモーション</p>
    </div>
  <% end %>
  <%= link_to business_path, class: "Editlink2" do %>
    <div class="youtube">
      <p class="business-name">Youtubeチャンネル運営</p>
    </div>
  <% end %>
  <%= link_to business_path, class: "Editlink2" do %>
    <div class="drone">
      <p class="business-name">ドローン空撮</p>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <div class="news">
  	  <p class="news-title">News</p><br>
  	    <div class="news-body">
  	    <table class="table">
        <tr>
          <th class="col-xs-2"><p></p>2020年12月</th>
          <td class="col-xs-10"><p></p>【オンライン開催】「Archi Future 2020」出展のお知らせ＜10月23日(金)～28日(水)＞<p></p></td>
        </tr>
        <tr>
          <th><p></p>2020年10月</th>
          <td><p></p>安全・安心な建設現場の実現に向けた共同取組を開始～建設業向け生産支援クラウドサービスによる建設現場の環境整備を後押し～<p></p></td>
        </tr>
        <tr>
          <th><p></p>2020年8月</th>
          <td><p></p>フォトラクションとワークスモバイルジャパン、 ITを活用した建設業界の生産性向上に向け協業を開始～第一弾として「Photoruction」「LINE WORKS」連携機能を開発、試験運用企業募集～<p></p></td>
        </tr>
        <tr>
          <th><p></p>2020年6月</th>
          <td><p></p>「日本経済新聞 電子版」にあいおいニッセイ同和損害保険との協業に関する記事が掲載されました<p></p></td>
        </tr>
        <tr>
          <th><p></p>2020年4月</th>
          <td><p></p>ホームページをリニューアルしました。<p></p></td>
        </tr>
        </table>
        <%= link_to root_path do %><div class="center">more >></div><% end %><hr><br><br>
        </div>
    </div>
  </div>
</div>