<!DOCTYPE html>
<html>
  <head>
    <title>株式会社Lifes.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
  <div class="container">
    <%= link_to root_path do %>
      <img alt="ロゴ画像" src="<%= asset_path "lifes.png" %>" style="height: 35px; margin-top:10px; margin-bottom: 10px;">
    <% end %>
    <div class="header-list">
      <%= link_to "事業紹介", business_path, class: "Editlink"%>
      <%= link_to "会社概要", details_path, class: "Editlink" %>
      <%= link_to "採用＆お問い合わせ", contact_path, class: "Editlink" %>
    </div>
  </div>
</header>

    <%= yield %>

  </body>

</html>
