<!DOCTYPE html>
<html>
  <head>
    <title>株式会社Lifes.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
  <div class="body">

<header>
<% if admin_signed_in? %>
  <div class="container">
      <img alt="ロゴ画像" src="<%= asset_path "lifes.png" %>" style="height: 35px; margin-top:10px; margin-bottom: 10px;">
    <div class="header-list">
      <%= link_to "NEWS", new_newss_path, class: "Editlink1"%>
      <%= link_to "募集要項", new_recruitment_path, class: "Editlink1" %>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "Editlink1" %>
    </div>
  </div>
<% else %>
  <div class="container">
    <%= link_to root_path do %>
      <img alt="ロゴ画像" src="<%= asset_path "lifes.png" %>" style="height: 35px; margin-top:10px; margin-bottom: 10px; ">
    <% end %>

    <div class="header-list">
      <%= link_to "事業紹介", business_path, class: "Editlink1"%>
      <%= link_to "会社概要", company_path, class: "Editlink1" %>
      <%= link_to "採用情報", recruit_path, class: "Editlink1" %>
      <%= link_to "お問い合わせ", contact_path, class: "Editlink1" %>
    </div>
  </div>
<% end %>
</header>


<div class="header2">
  <div class="logo"></div><!-- /.logo -->

  <!-- ハンバーガーメニュー部分 -->
  <div class="drawer">
    <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
    <input type="checkbox" id="drawer-check" class="drawer-hidden" >

    <!-- ハンバーガーアイコン -->
    <label for="drawer-check" class="drawer-open"><span></span></label>

    <!-- 追加：メニューを閉じるための要素 -->
    <label for="drawer-check" class="drawer-close"></label>

    <!-- メニュー -->
    <nav class="drawer-content">
      <ul class="drawer-list">
        <li class="drawer-item">
          <br><p class="menu"><i class="fas fa-list"></i> Menu</p><br>
        <i class="far fa-chart-bar"></i><%= link_to " 事業紹介", business_path, class: "Editlink3"%>
        </li><hr class="border"><!-- /.drawer-item -->
        <li class="drawer-item">
          <i class="far fa-building"></i><%= link_to " 会社概要", company_path, class: "Editlink3" %>
        </li><hr class="border"><!-- /.drawer-item -->
        <li class="drawer-item">
          <i class="far fa-user"></i><%= link_to " 採用情報", recruit_path, class: "Editlink3" %>
        </li><hr class="border"><!-- /.drawer-item -->
        <li class="drawer-item">
          <i class="far fa-envelope"></i><%= link_to " お問い合わせ", contact_path, class: "Editlink3" %>
        </li><hr class="border">
      </ul><!-- /.drawer-list -->
    </nav>

  </div>
</div>

    <%= yield %>

  </div>

<footer>
  <div class="container">
    <p class="footer-title">株式会社Lifes.</p>
    <p class="footer-address">
    〒530-0043<br>
    大阪府大阪市北区天満2-8-17 天満橋パークビル4階<br>
    TEL:06-7182-2493
    </p>
    <p class="footer-right">Copyright(c)株式会社Lifes.All rights reserved.</p>
  </div>
</footer>

  </body>

</html>
