<!DOCTYPE html>
<html>
  <head>
    <title>株式会社Lifes.</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header>
  <div class="container">
    <%= link_to root_path do %>
      <img alt="ロゴ画像" src="<%= asset_path "lifes.png" %>" style="height: 35px; margin-top:10px; margin-bottom: 10px;">
    <% end %>
    <div class="header-list">
      <%= link_to "事業紹介", business_path, class: "Editlink1"%>
      <%= link_to "会社概要", company_path, class: "Editlink1" %>
      <%= link_to "採用情報", recruit_path, class: "Editlink1" %>
      <%= link_to "お問い合わせ", contact_path, class: "Editlink1" %>
    </div>
  </div>
</header>

    <%= yield %>

<footer>
  <div class="container">
    <p class="footer-title">株式会社Lifes.</p>
    <p class="footer-address">
    〒530-0043<br>
    大阪府大阪市北区天満橋パークビル4階<br>
    06-7182-2493
    </p>
    <p class="footer-right">Copyright(c)株式会社Lifes.All rights reserved.</p>
  </div>
</footer>

  </body>

</html>
